*{
    margin: 0px;
}
body{
    margin: 0px;
}

p, li{
    text-align: justify;
}

header{
    width: 100%;
    background-color: black;
    color: white;
    margin: 0px;
    height: 52px;
    line-height: 52px;
    padding-left: 25px;
}

header h1 a{
    color: white;
    text-decoration: none;
}

h1{
    margin-top: 0px;
    font-size: 20px;
    display: inline;
}

span.menu a{
    margin-left: 25px;
    color: #999999;
    display: inline-block;
    border-color: blue;
    border-bottom-style: solid;
    height: 47px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

div.presentation{
    height: 550px;
    font-size: 18px;
    border-width: 1px;
    border-style: solid;
}

div.docs{
    padding-top: 25px;
    padding-left: 100px;
}

h2, h3{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div.topics{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

div.docs div.topic{
    width: 230px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 3px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}

div.topic h4{
    color: #005590;
    margin-top: 0px;
}

div.topic p{
    font-size: small;
    width: 230px;
    color: black;
    margin-top: 0px;
}

div.topic img{
    float: left;
    margin: 3px;
}

div.presentation p, div.presentation ul, div.docs *{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h2, h3, h4, p, pre, ul{
    margin-top: 20px;
}

li{
    margin-top: 0px;
}

pre.terminal{
    background-color: black;
    color: #00ff00;
}
